<form name="pagaForm" action="{$paypal_url}" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="notify_url" value="{$notif_return}">
        <input type="hidden" name="cancel_return" value="{$cancel_return}">
        <input type="hidden" name="return" value="{$success_return}">
        <input type="hidden" name="business" value="{$merchant_email}">
        <input type="hidden" name="lc" value="C2">
        <input type="hidden" name="item_name" value="{$descripcion}">
        <input type="hidden" name="item_number" value="0">
        <input type="hidden" name="amount" value="{$item_total}">
        <input type="hidden" name="currency_code" value="MXN">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <inpu type="submit" value="Si no se te redirecciona haz click aqui...">
        </form>
        <img src="/ajax-loader.gif"> Procesando Solicitud...
        <script type="text/javascript">
        document.pagaForm.submit();
        </script>