{* Verificamos que no este logeado lol *}
{if $logeado}
<script>location="/admin";</script>
{/if}
    <article id="sub_bg">
        <div class="sub_header">
            <h2 class="thumb_img">Administración</h2>
            <p class="description">{$pagename}</p>
        </div>
    </article>
    <!--Sub Header End--> 

    <!--Content Start-->
    <article class="content">
<div style="padding:3px;">
            <h1 class="title">
              
            </h1>
            <p class="subtitle">
              <strong>Administracion</strong>
            </p>
            <form action="/index.php?action=admin&p=login" method="post"  id="commentform" class="comment-form">
          <label><h6><i class="fi-at-sign"></i> Correo Electronico:</h6>        
                  <input  type="email" value="{$e}" name="correo"  placeholder="Correo electronico" required>
          </label>
          <label><h6><i class="fi-lock"></i> Contraseña:</h6>        
                  <input  type="password" name="pass"  placeholder="Contraseña" required>
          </label>
            <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Iniciar Sesion"></p>
            </form>
            <center><a href="/index.php?action=admin&p=rpass" title="Restablecer Contraseña">¿Olvidaste tu contraseña?</a></center>

            </div>

{if isset($e)}
	<div class="alert alert-info" role="alert">
	Asegurate de ingresar correctamente tu contraseña.
	</div>
{/if}

  </article>