<h2>Anuncios Parte Derecha</h2>
<script src="/js/ajaxupload.js" type="text/javascript"></script>
<script>
{literal}
$(function() {
document.getElementById("moreNewsItems_link").style.display = "";
})
function setOuterHTML(element, toValue)
{
    if (typeof(element.outerHTML) != 'undefined')
        element.outerHTML = toValue;
    else
    {
        var range = document.createRange();
        range.setStartBefore(element);
        element.parentNode.replaceChild(range.createContextualFragment(toValue), element);
    }
}
{/literal}
</script>
<form id="idForm" method="post" action="/index.php?action=admin&p=publicidad">
{foreach name=news from=$anunciosderecha item=n}
{$n}
{/foreach}

                        <script language="JavaScript" type="text/javascript"><!-- // --><![CDATA[
{literal}
                            function addNewsItem()
                            {
                                setOuterHTML(document.getElementById("moreNewsItems"), '<div style="margin-bottom: 2ex;background: white;padding: 9px;border-radius: 8px;border: 1px solid #ccc;"><center><img src="https://placehold.it/300x250&text=Espacio+Publicitario"></center><label><h6>Imagen:</h6><input name="news[]" style="width: 100%;" onfocus="this.select();" type="text" value="https://placehold.it/300x250&text=Espacio+Publicitario"></label></div><div id="moreNewsItems"></div>');
                            }
                            {/literal}
                        // ]]></script>
                        <noscript>
                            <div style="margin-bottom: 2ex;"><img src="https://placehold.it/300x250&text=Espacio+Publicitario"><input name="news[]" style="width: 85%;" type="text"></div><div id="moreNewsItems"></div>
                        </noscript>

                        <div id="moreNewsItems"></div>

<br>
<div id="moreNewsItems_link" style="display: none;"><a href="javascript:void(0);"  class="primary button"  onclick="addNewsItem(); return false;">Agregar Espacio Publicitario</a>
<input type="submit" class="success button" value="Guardar">
<input type="submit" class="danger button" name="delete_selection" value="Borrar Seleccion"></div>
</form>

<br><h2>Anuncios Superior Derecha</h2>

<script>{literal}
$(function() {
document.getElementById("moreNewsItems_link2").style.display = "";
}){/literal}
</script>
<form id="idForm" method="post" action="/index.php?action=admin&p=publicidad">
{foreach name=supderecha from=$anunciosupderecha item=n}
{$n}
{/foreach}
                       <script language="JavaScript" type="text/javascript"><!-- // --><![CDATA[
{literal}
                            function addNewsItem2()
                            {
                                setOuterHTML(document.getElementById("moreNewsItems2"), '<div style="margin-bottom: 2ex;background: white;padding: 9px;border-radius: 8px;border: 1px solid #ccc;"><center><img src="https://placehold.it/745x140&text=730x140"></center><label><h6>Imagen:</h6><input name="news2[]" style="width: 100%;" onfocus="this.select();" type="text" value="https://placehold.it/300x250&text=Espacio+Publicitario"></label></div><div id="moreNewsItems2"></div>');
                            }{/literal}
                        // ]]></script>
                        <noscript>
                            <div style="margin-bottom: 2ex;"><img src="https://placehold.it/745x140&text=730x140"><input name="news2[]" style="width: 100%;" type="text"></div><div id="moreNewsItems2"></div>
                        </noscript>

                        <div id="moreNewsItems2"></div>

<br>
<div id="moreNewsItems_link2" style="display: none;"><a href="javascript:void(0);"  class="primary button"  onclick="addNewsItem2(); return false;">Agregar Espacio Publicitario</a>
<input type="submit" class="success button" value="Guardar">
<input type="submit" class="danger button" name="delete_selection2" value="Borrar Seleccion"></div>
</form>
<br><h2 style="display: none">Anuncios de Portada</h2>
<script>{literal}
$(function() {
document.getElementById("moreNewsItems_link3").style.display = "";
}){/literal}
</script>
<form id="idForm" style="display: none" method="post" action="/index.php?action=admin&p=publicidad">
{foreach name=portada from=$anunciosportadaad item=n}
{$n}
{/foreach}

                        <script language="JavaScript" type="text/javascript"><!-- // --><![CDATA[
{literal}
                            function addNewsItem3()
                            {
                                setOuterHTML(document.getElementById("moreNewsItems3"), '<div style="margin-bottom: 2ex;background: white;padding: 9px;border-radius: 8px;border: 1px solid #ccc;"><center><img src="https://placehold.it/1024x220&text=1024x220"></center><label><h6>Imagen:</h6><input name="news3[]" style="width: 100%;" onfocus="this.select();" type="text" value="https://placehold.it/1024x220&text=Espacio+Publicitario"></label></div><div id="moreNewsItems3"></div>');
                            }{/literal}
                        // ]]></script>
                        <noscript>
                            <div style="margin-bottom: 2ex;"><img src="https://placehold.it/745x140&text=730x140"><input name="news2[]" style="width: 100%;" type="text"></div><div id="moreNewsItems3"></div>
                        </noscript>

                        <div id="moreNewsItems3"></div>

<br>
<div id="moreNewsItems_link3" style="display: none;"><a href="javascript:void(0);"  class="primary button"  onclick="addNewsItem3(); return false;">Agregar Espacio Publicitario</a>
<input type="submit" class="success button" value="Guardar">
<input type="submit" class="danger button" name="delete_selection3" value="Borrar Seleccion"></div>
</form>