<div style="padding:3px;">
            <h1 class="title">
              {$pagename}
            </h1>
            <p class="subtitle">
              <strong>Recuperar Contraseña</strong>
            </p>
            <form action="/index.php?action=admin&p=rpass" method="post" id="commentform" class="comment-form">
          <label><h6><i class="fi-at-sign"></i> Correo Electronico:</h6>        
                  <input type="email" value="" name="correo" placeholder="Correo electronico" required="">
          </label>
          <label><h6><i class="fi-lock"></i> Palabra Secreta:</h6>        
                  <input type="text" name="sword" placeholder="Contraseña" required="">
          </label>
          <label><h6><i class="fi-lock"></i> Nueva Contraseña:</h6>        
                  <input type="password" name="npass" placeholder="Nueva Contraseña" required="">
          </label>
          <label><h6><i class="fi-lock"></i> Ingresa Nuevamente la nueva Contraseña:</h6>        
                  <input type="password" name="rnpass" placeholder="Nueva Contraseña" required="">
          </label>
            <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Cambiar Contraseña"></p>
            </form>
            </div>