﻿<!-- One -->

<script type="text/javascript">
	function esconderB()
	{
		$("#banner").fadeOut(1000);
		$("#header").fadeIn("1000");
		$("body").removeClass("overflou");
	}
	setTimeout(esconderB,2000);
</script>

        <!-- Banner -->
        <section id="banner">
          <div class="content">
            <header style="display: none;">
              <h2>The future has landed</h2>
              <p>And there are no hoverboards or flying cars.<br />
              Just apps. Lots of mother flipping apps.</p>
            </header>
            <span style="display: none;" class="image"><img src="/media/images/pic01.jpg" alt="" /></span>
          </div>
        </section>
			<!-- Two -->
				<section id="one"  onclick="location = '/legal/'; return false;" class="style1 bottom" style="margin-top:60px;padding: 20px;
    min-height: 374px;
    background: no-repeat url(/media/images/fotob2.jpeg);
    background-size: cover;
    cursor: pointer;
    text-align: center;">
					<div class="content">
						<div class="container">
									<div style="    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 500px;"><center><a><h2>LEGAL</h2></a></center></div>
						</div>
					</div>
				</section>


							<!-- Two -->
				<section id="two"  onclick="location = '/inmobiliario/'; return false;" class="style1 bottom" style="padding: 20px;
    min-height: 374px;
    border-top: 3px solid black;
    background: no-repeat url(/media/images/fotob3.jpeg);
    background-size: cover;
    cursor: pointer;
    text-align: center;">
					<div class="content">
						<div class="container">
									<div style="    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 500px;"><center><a><h2>INMOBILIARIA</h2></a></center></div>
						</div>
					</div>
				</section>

			
			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Contacto</h2>
							<p>Telefono: +95999999<br>Correo: email@castilloyasociados.com</p>
						</header>
					</div>
				</section>